@import "<%= componentName %>/functions/<%= componentName %>";

@mixin <%= componentName %>($properties:(), $base:true) {
    @if $base {
        display: block;
        width: 100%;
        background-clip: padding;
    }

    padding: lookup($properties, "padding");
    background: lookup($properties, "background");
    border: lookup($properties, "border");
    border-radius: lookup($properties, "border-radius");
}
