@import "<%= componentName %>/functions/<%= componentName %>";

@mixin <%= componentName %>($name:"base", $base:true) {
    $properties: get("<%= componentName %>/base") or ();

    @if $base {
        display: block;
        width: 100%;
        background-clip: padding;
    } @else {
        $properties: map-merge($properties, get("<%= componentName %>/variation/#{$name}") or ());
    }

    padding: get("padding", $properties);
    background: get("background", $properties);
    border: get("border", $properties);
    border-radius: get("border-radius", $properties);
}
