
$settings: set-default((
    "<%= componentName %>": (
        "variation": (
            "success": (
                "description": "Woohoo! You've done something!",
                "background": mix(white, green, 70%),
                "border": 1px solid green,
                "border-radius": 3px,
                "padding": 15px,
            ),
            "failure": (
                "description": "Aww! You've done nothing!",
                "background": mix(white, red, 70%),
                "border": 5px solid red,
                "padding": 15px,
            ),
        ),
    ),
)) !global;
